<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- csrf를 적용 할 때 head내부에 적용 시켜두면 됨 -->
<!-- <meta th:name="${csrf_name}" th:value="${_csrf.headerName}">
<meta th:name="${_csrf_value}" th:value="${_csrf.token}"> -->
<meta charset="UTF-8">
<title></title>
</head>
<body>
  <h1>메인 페이지입니다.</h1>
  <ul>
    <li>
      <a th:href="@{/user}">일반 사용자용 페이지로</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/admin}">관리자 전용 페이지로</a>
    </li>
    <th:block sec:authorize="isAuthenticated()">
      <p sec:authentication="name"></p>
      <p sec:authentication="principal.authorities"></p>
      <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
      </form>
    </th:block>
  </ul>
</body>
</html>