#container {
  width: 960px;
  margin: 0 auto;
}
header:hover {
  background-color: aqua;
}

header {
  background-color: rgb(250, 208, 246);
  padding: 10px;
  overflow: hidden;
  transition: 2s;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
  }
  nav {
    width: 500px;
    float: right;
    li {
      display: inline-block;
      padding: 10px;
      /* margin: 10px; */
      a{
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
section {
  width: 760px;
  float: left;
}
article {
  /*너비 : 760 / 2 - 패딩*2 - 마진*2 - 선굵기*/
  width: 348px; height: 260px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  float: left;
}
figure {
  width: 170px;
  float: right;
  /* background-color: beige; */
  margin: 0;
  margin-top: 77px;
  img {
    width: 100%;
    /*높이 : 260*2 + 20(패딩) + 1(선굵기) + 10(마진)*2 + 10*/
    height: 180px;
  }
}
footer {
  clear: both;
  background-color: rgb(45, 78, 78);
  text-align: center;
  color: white;
  padding: 15px;
  font-weight: bold;
  p{
    margin-top: 0;
  }
}